<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h2>Упс! Ошибка удаления</h2>
        <p>Произошла ошибка удаления</p>
        <a href="/admin/Place/Places?Length=0">Назад к местам</a>
    </div>
</div>