@{
    ViewBag.Title = "Подтверждение почты";
}

<div id="messagePage">
    <div class="messagePage">
        <div class="messagePage-404"></div>
        @*<h1>404</h1>*@
        <h4>Ссылка действительна один час</h4>
        <p>Для регистрации перейдите по ссылке в письме, отправленном на ваш email </p>
        <a href="/Account/Login">Вернуться назад</a>
    </div>
</div>