﻿@{ ViewBag.Title = "Ошибка! Ссылка не действительна"; }


<style>
    .navbar-style {
        background: #f44153;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #fff;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #D0D0D0;
    }

    .listing-item .listing-item-link:before {
        display: none;
    }
</style>

<div id="messagePageNegative">
    <div class="messagePageNegative">
        <div class="messagePageNegative-404"></div>
        @*<h1>404</h1>*@
        <h4>Ошибка</h4>
        <p>Используемая ссылка больше не действительна </p>
        <a href="/">Вернуться назад</a>
    </div>
</div>