@{
    ViewBag.Title = "Положение Об Использовании Cookie-файлов";
}

<style>
    p {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
</style>
<section class="section-content">
    <div class="container container-content">
        <div class="row" style="padding-top: 40px!important">
            <h4>Положение об использовании cookie-файлов</h4>
            <hr style="border: none; color:#54a15d; background-color: #54a15d; height: 2px;" />
            <p>
                Индивидуальный предприниматель Насретдинов Егор Уралович («Street Travel», «мы», «нам» или «наш»), использует технологию cookie с целью предложить вам более персонализированный и качественный веб-сервис. В настоящем Положении Street Travel об использовании cookie-файлов мы предоставим Вам полную информацию о том, как и для каких целей мы используем cookie-файлы на этом веб-сайте.
            </p>
            <p>
                Любые изменения, которые в будущем мы можем внести в это Положение об использовании cookie-файлов, будут приведены на данной странице.  Пожалуйста, регулярно проверяйте, не было ли настоящее Положение уточнено или изменено.
            </p>
            <h5>
                Что такое cookie-файлы и для чего они используются?
            </h5>
            <p>
                Cookie-файл – это маленький текстовый файл, сохраняемый
                и/или используемый на жестком диске вашего конечного устройства
                (например, компьютера, ноутбука или смартфона) вашим веб-браузером
                при посещении вами веб-сайта. Практически каждый веб-сайт использует
                технологию cookie, чтобы обеспечить работоспособность веб-сайта и
                чтобы оптимизировать дизайн и функциональность.
                Также cookie-файлы делают ваше взаимодействие с веб-сайтами более быстрым и безопасным,
                поскольку они могут запоминать ваши настройки (такие как, например, логин и язык),
                направляя информацию, которая в них содержится, обратно на изначальный веб-сайт
                (основной cookie-файл) или на другой веб-сайт, которому он принадлежит (сторонний cookie-файл),
                когда вы повторно посещаете соответствующий веб-сайт с использованием того же конечного устройства.
            </p>
            <p>
                На основании функций и целей, для которых используются cookie-файлы, обычно они подразделяются на следующие категории cookie-файлов, которые Street Travel использует на этом веб-сайте:
            </p>
            <p>
                Строго необходимые cookie-файлы позволяют Вам перемещаться по сайту и пользоваться его основными функциями. Обычно они устанавливаются в ответ на действия, совершаемые Вами, которые выражают запрос на получение услуг, такие как вход под своим логином в защищенную зону нашего веб-сайта. Эти cookie-файлы необходимы для использования настоящего сайта.
            </p>
            <p>
                Функциональные cookie-файлы используются для того, чтобы узнать Вас, когда Вы возвращаетесь на наш веб-сайт, и чтобы предложить Вам улучшенный и более персонализированный функционал, такой как обращение к Вам по имени и запоминание Ваших настроек (например, Ваш выбор региона или языка). Такие cookie-файлы собирают обезличенную информацию и не могут отслеживать Ваши перемещения на других сайтах.
            </p>
            <p>
                Аналитические и эксплуатационные cookie-файлы позволяют нам определить и посчитать количество посетителей и собрать информацию о том, как используется веб-сайт (например, какие страницы посетитель открывает чаще всего, и получает ли пользователь сообщения об ошибках на некоторых страницах). Это помогает улучшить работу нашего веб-сайта, обеспечивая, в частности, простоту поиска пользователями того, что они ищут.
            </p>
            <p>
                Маркетинговые и целевые cookie-файлы записывают Ваши посещения нашего сайта, страницы, которые Вы посетили и ссылки, по которым Вы переходили. Мы будем использовать эту информацию для показа Вам рекламы, которая больше соответствует Вам и Вашим интересам. Они также используются в целях ограничения количества показов Вам рекламы и помогают оценить эффективность рекламных кампаний. В указанных целях мы можем также предоставлять эту информацию третьим лицам (в частности, рекламодателям).
            </p>
            <h5>
                Использование сторонних cookie-файлов
            </h5>
            <p>
                Пожалуйста, обратите внимание, что BlaBlaCar пользуется услугами третьих лиц с тем, чтобы узнать о том, как вы используете этот веб-сайт, в целях оптимизации вашего опыта в качестве пользователя и с целью показа рекламы вне этого сайта. Такие третьи лица (включая, например, рекламные сети или поставщиков внешних услуг, таких как сервисы аналитики веб-трафика) могут также использовать cookie-файлы, к которым мы не имеем отношения.
            </p>
            <h5>
                Что делать, если Вы хотите отказаться от использования cookie-файлов?
            </h5>
            <p>
                Вы можете в любое отказаться от сохранения cookie-файлов на вашем устройстве. Для этого, пожалуйста, следуйте положениям, указанным ниже:
            </p>
            <h5>
                Изменение настроек вашего веб-браузера:
            </h5>
            <p>
                Если Вы хотите удалить cookie-файлы, сохраненные на вашем устройстве, и настроить Ваш веб-браузер так, чтобы отказаться от cookie-файлов, Вы можете сделать это в разделе настроек Вашего браузера. Обычно навигационные настройки, связанные с cookie-файлами, можно найти в разделах «Опции», «Инструменты» или «Предпочтения» веб-браузера, который Вы используете для доступа на этот веб-сайт.
            </p>
        </div>
    </div>
</section>