﻿
@{
    ViewBag.Title = "Политика Конфиденциальности";
}

<style>
    p {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
</style>
<section class="section-content">
    <div class="container container-content">
        <div class="row" style="padding-top: 40px!important">
            <h4>Политика конфиденциальности</h4>
            <hr style="border: none; color:#54a15d; background-color: #54a15d; height: 2px;" />
            <h5>
                1. Общие сведения
            </h5>
            <p>
                Индивидуальный предприниматель Насретдинов Егор Уралович
                («Street Travel», «мы», «нам» или «наш»), выступающий в качестве
                оператора персональных данных, обязуется защищать и соблюдать
                конфиденциальность данных, предоставляемых вами (пользователями).
                В настоящем положении («Положении о конфиденциальности»)
                говорится о применяемом нами порядке сбора, использования
                и раскрытия данных, которые могут предоставляться вами
                посредством данного Веб-сайта  <a style="color:#54a15d;    text-decoration: underline;" href="http://streettravel.net">streettravel.net </a>
                (далее «Веб-сайт») или наших мобильных приложений
                (в дальнейшем именуемых «Приложение»).
            </p>
            <p>
                Настоящим Положением о конфиденциальности (в совокупности с нашими Условиями, всеми прочими соответствующими документами и нашим Положением об использовании cookie-файлов) устанавливаются правила, в соответствии с которыми мы осуществляем обработку ваших персональных данных, которые вы нам предоставляете или которые мы собираем. Просим вас внимательно ознакомиться с приведенной далее информацией о наших принципах и правилах, касающихся персональных данных пользователей и обработки нами таких данных.
            </p>
            <h5>
                2. Какие данные о вас мы собираем?
            </h5>
            <p>
                Мы можем осуществлять сбор и обработку (включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, (трансграничную) передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение) следующих данных о вас как о пользователе:
            </p>
            <p>
                2.1 информация, предоставляемая вами. Вы можете предоставлять нам информацию, включающую информацию, с помощью которой вас можно идентифицировать («персональные данные»), при использовании нашего Веб-сайта/Приложения посредством заполнения форм на Веб-сайте/в Приложении (например, форм регистрации), при использовании нашего сервиса, предоставляемого на нашем Веб-сайте/Приложении, при участии в каких-либо наших конкурсах, рекламных акциях или опросах, при общении с нами по телефону, электронной почте или иным способом, а также при сообщении о проблеме с нашим Веб-сайтом/Приложением.
            </p>
            <p>
                Информация, которую вы нам предоставляете, может включать следующее:
            </p>
            <p>
                2.1.1 обязательная информация, необходимая для регистрации с целью получения услуг, предоставляемых на нашем Веб-сайте/в нашем Приложении, или доступа к другим нашим сервисам, включающая имя, фамилию, адрес электронной почты, дату рождения, пол, номер мобильного телефона и пароль пользователя. Все указанные поля обязательны для заполнения. Если вы не укажете необходимую информацию, Street Travel не будет иметь возможности предоставлять Вам услуги, предлагаемые на нашем Веб-сайте и в нашем Приложении, следовательно, Вы не сможете создать учетную запись пользователя на нашем Веб-сайте/в нашем Приложении;
            </p>
            <p>
                2.1.2 фотография;
            </p>
            <p>
                2.1.3 почтовый адрес;
            </p>
            <p>
                2.1.4 Ваша краткая биография;
            </p>
            <p>
                2.1.5 содержание переписки между Вами и нами;
            </p>
            <p>
                2.1.6 информация о Ваших посещениях нашего Веб-сайта/Приложения и ресурсов, к которым у Вас имеется доступ;
            </p>
            <p>
                2.1.7 Ваши ответы в каких-либо опросах или анкетах, такие сведения могут использоваться в целях аналитики и для понимания потребностей пользователя;
            </p>
            <p>
                2.1.8 информация, мы можем у Вас запросить и/или которая может потребоваться, когда Вы сообщаете нам о проблеме с нашим Веб-сайтом/Приложением или нашим сервисом, например тема вашего запроса, отправляемого в службу поддержки;
            </p>
            <p>
                2.1.9 информация о местонахождении;
            </p>
            <p>
                2.1.10 информация о паспортных данных, в том числе предоставленных Вами в добровольном порядке, информация о водительском удостоверении и иные данные или документы, которые Вы соглашаетесь нам предоставить, в том числе по нашему запросу;
            </p>
            <p>
                2.2 информация, сбор которой производится нами автоматически.
            </p>
            <p>
                2.2.1 если Вы регистрируетесь на Веб-сайте / в Приложении через социальные сети, Street Travel получает доступ к определенным персональным данным (например, к имени, фамилии, фотографии, адресу электронной почты, информации о количестве друзей на ВКонтакте и т.д.), имеющимся в Ваших учетных записях в социальных сетях в соответствии с действующими условиями использования таких социальных сетей. Мы также осуществляем сбор некоторых ваших персональных данных при использовании Вами функций сторонних социальных сетей, например функции «Мне нравится».
            </p>
            <p>
                2.2.2 что касается каждого посещения Вами нашего Веб-сайта/Приложения, в соответствии с применимым законодательством и при необходимости с Вашего согласия мы можем собирать данные об устройствах, которые Вы используете, и о сетях, к которым вы подключаетесь при использовании наших сервисов. К таким данным может относиться следующее: Ваш IP-адрес, данные для входа в систему, информация о виде и версии браузера, о видах плагинов браузера, операционной системе и платформе, история посещений нашего Веб-сайта/Приложения, страниц через них и с них с указанием URL, история просмотра или поиска, информация об ошибках загрузки, продолжительности посещения определенных страниц, взаимодействии со страницами и любые телефонные номера, с которых были сделаны звонки в нашу службу поддержки клиентов. Мы выполняем сбор указанных данных с помощью различных технологий, в том числе файлов «cookie» (более подробную информацию см. в нашем <a style="color:#54a15d; text-decoration: underline;" href="/Information/CookieInfo" target="_blank">Положение об использовании cookie-файлов</a>).
            </p>
            <p>
                2.2.3 кроме того, мы осуществляем сбор общей информации о Ваших действиях на нашей платформе (например, о количестве предложенных поездок, процент ваших ответов на сообщения и т.д.). Такая информация может быть размещена в Вашем публичном профиле на нашей платформе.
            </p>
            <h5>
                3. Как мы используем данные, собранные о Вас?
            </h5>
            <p>
                Собранная нами информация используется в следующих целях:
            </p>
            <p>
                3.1 исполнение наших обязательств, проистекающих из любых договоров, заключенным между Вами и нами, а также предоставление Вам информации и услуг, которые Вы у нас запросили, предоставляемого на нашем Веб-сайте/Приложении и Сайте третьего лица; Компания Street Travel вправе в любое время потребовать от вас предоставления информации и документов, подтверждающих права и полномочия, как указано выше.
            </p>
            <p>
                3.2 направление Вам связанной с сервисами информации по электронной почте, и/или СМС, и/или другими средствами связи (например, о подтверждении Вашей регистрации);
            </p>
            <p>
                3.3 прием платежей от Вас или, если применимо, перевод Вам платежей, полученных нами от Вашего имени;
            </p>
            <p>
                3.4 предоставление Вам возможностей персонализации своего профиля на нашей платформе;
            </p>
            <p>
                3.5 предоставление Вам возможностей общения и взаимодействия с другими пользователями в отношении наших сервисов;
            </p>
            <p>
                3.6 предоставление Вам доступа к нашим сервисам поддержки и возможности общения с нашей службой поддержки;
            </p>
            <p>
                3.7 обеспечение соблюдения применимого законодательства, наших Условий, Положения о конфиденциальности и Правил поведения. В случае определенных нарушений, которые мы считаем недопустимыми, действие Вашей учетной записи может быть приостановлено;
            </p>
            <p>
                3.8 рассылка Вам в соответствии с применимым законодательством рекламных материалов и информации, необходимой для упрощения сервиса, а также чтобы делать Вам предложения и рекомендации относительно товаров и услуг, связанных с нашим сервисом, которые могут вас заинтересовать. Кроме того, мы используем Ваши данные для показа вам нашей рекламы в социальных сетях;
            </p>
            <p>
                3.9 уведомление Вас об изменениях нашего сервиса;
            </p>
            <p>
                3.10 администрирование нашего Веб-сайта/Приложения и проведение внутренних работ, в том числе устранение неполадок, анализ данных, тестирование, исследования, аналитика, опросы;
            </p>
            <p>
                3.11 улучшение нашего Веб-сайта/Приложения в целях наиболее эффективного представления контента для Вас и Ваших устройств; Travel есть необходимость обеспечения собственной безопасности, защиты морально-этических принципов компании Street Travel, Пользователей и третьих лиц, а также необходимость предотвращения мошеннических действий или проведение расследования. В случае непрохождения или отказа в прохождении вами верификации паспортных данных Street Travel оставляет за собой право по своему усмотрению предпринять в отношении вас меры, предусмотренные статьей 6 Условий.
            </p>
            <p>
                3.12 предоставление Вам доступа к интерактивным функциям нашего сервиса, когда Вам это необходимо;
            </p>
            <p>
                3.13 способствование обеспечению безопасности и надежности нашего Веб-сайта/Приложения;
            </p>
            <p>
                3.14 оценка и определение эффективности рекламы, которую мы размещаем для Вас и других лиц, и размещение соответствующей рекламы для вас;
            </p>
            <p>
                3.15 верификация предоставленных Вами данных (телефон, электронная почта, паспортные данные);
            </p>
            <h5>
                4. Кто является получателями собранной нами о Вас информации, и для каких целей?
            </h5>
            <p>
                4.1 при использовании нашего сервиса определенная информация о Вас сообщается соответствующим участникам наших сервисов либо в Вашем публичном профиле, либо в процессе бронирования, исключительно в объеме, необходимом для использования сервиса;
            </p>
            <p>
                4.2 мы можем получать и передавать информацию о вас, включая персональные данные, если Вы пользуетесь любыми другими веб-сайтами или Приложениями, управляемыми нами или другими организациями и аффилированными лицами Street Travel, для достижения целей, оговоренных в настоящем Положении о конфиденциальности;
            </p>
            <p>
                4.3 кроме того, мы тесно сотрудничаем с третьими лицами, которые могут быть получателями Ваших персональных данных, например:
            </p>
            <p>
                –  с нашими деловыми партнерами, которые являются социальными сетями и могут предоставлять Вам сервисы, позволяющие добавлять информацию из своих профилей в социальных сетях на наш сайт;
            </p>
            <p>
                – с нашими деловыми партнерами, которые могут рекламировать свои сервисы на нашем Веб-сайте и в нашем Приложении, на которые Вы можете решить подписаться: к таким сервисам относятся любые сервисы, связанные с нашими, например сервисы по страхованию, банковскому обслуживанию и аренде;
            </p>
            <p>
                – с нашими деловыми партнерами, которые могут рекламировать наши сервисы на своих веб-сайтах;
            </p>
            <p>
                – с нашими подрядчиками в технической сфере, в сфере приема платежей, верификации данных, поддержки пользователей, модерации, лицами, занимающимися аналитикой.
            </p>
            <p>
                4.4 мы не раскрываем никакую информацию о Вас, как о пользователе, в том числе Ваши персональные данные, вышеуказанным третьим лицам, за исключением следующих случаев:
            </p>
            <p>
                4.4.1 если необходимо вовлечь стороннего поставщика услуг для исполнения какого-либо договора, заключенного между Вами и нами с целью улучшения или расширения наших сервисов;
            </p>
            <p>
                4.4.2 в рамках процесса бронирования и с целью предоставления необходимых сервисов такие данные, как ваши имя, фамилия, фотография, номер мобильного телефона и/или адрес электронной почты, могут отображаться на Веб-сайте/в Приложении и/или передаваться клиенту (если вы Компания-партнер) или Компании-партнеру (если вы клиент);
            </p>
            <p>
                4.4.3 в рамках нашей системы рейтинговой оценки написанные Вами отзывы публикуются на Веб-сайте/в Приложении; отзывы с указанием вашего сокращенного имени и с Вашей фотографией видны всем посетителям Веб-сайта/Приложения;
            </p>
            <p>
                4.4.4 мы сотрудничаем с поставщиками услуг по обработке и анализу данных и используем поисковые системы для улучшения и оптимизации нашего Веб-сайта/Приложения;
            </p>
            <p>
                4.4.5 это напрямую запрошено Вами (например, в случае авторизации через социальные сети);
            </p>
            <p>
                4.4.6 мы можем частично размещать контент нашего сервиса (в том числе размещенную вами информацию о Местах или Маршрутах) на веб-сайтах наших деловых партнеров через API или виджеты; в таких случаях на вышеуказанных веб-сайтах может быть размещена определенная информация из Вашего публичного профиля;
            </p>
            <p>
                4.4.7 кроме того, Street Travel может раскрывать информацию о Вас, если это необходимо в соответствии с законодательством или если мы искренне убеждены, что такой доступ, сохранение или раскрытие обосновано необходимо для реагирования на претензии, предъявленные к Street Travel, соблюдения требований законодательства, исполнения каких-либо соглашений с нашими пользователями, таких как наши Условия, Положение о конфиденциальности, наши Правила поведения, в чрезвычайной ситуации, которая может повлечь за собой нанесение вреда здоровью, травмы какому-либо лицу или его смерть, проведения расследования, защиты прав, имущества и обеспечения личной безопасности Street Travel, его пользователей и прочих лиц;
            </p>
            <p>
                4.4.8 при продаже или покупке нами каких-либо бизнеса или активов, когда мы можем раскрыть Ваши персональные данные будущему продавцу или покупателю указанных бизнеса или активов, согласно применимому законодательству;
            </p>
            <p>
                4.4.9 при приобретении Street Travel или всех или части его активов третьим лицом, когда имеющиеся у сервиса персональные данные его пользователей будут одним из передаваемых активов;
            </p>
            <p>
                4.5 в соответствии с применимым законодательством и, где требуется, с Вашего согласия, мы можем объединить информацию о Вас, в том числе Ваши персональные данные и данные «cookie», которые мы передаем нашим деловым партнерам и получаем от них. Мы можем использовать данную информацию и объединенную информацию в вышеизложенных целях;
            </p>
            <p>
                4.6	обращаем Ваше внимание на то, что, если Вы решаете предоставить нам информацию о себе, в том числе персональные данные, через сервисы наших деловых партнеров, позволяющие добавлять информацию на наш сайт, помимо настоящего Положения о конфиденциальности, к Вам может быть также применима политика конфиденциальности и/или положение о конфиденциальности каких-либо из наших деловых партнеров. Мы не контролируем сбор и/или обработку информации о Вас, которые осуществляются на собственных сайтах наших деловых партнеров.
            </p>
            <h5>
                5. Как мы используем и модерируем Ваши сообщения?
            </h5>
            <p>
                5.1 мы можем проверять, сканировать или анализировать сообщения, которые Вы, как пользователи нашего сервиса, отправляете друг другу через наш Веб-сайт/Приложение, для предотвращения мошенничества, улучшения качества сервиса, поддержки клиентов, исполнения договоров с пользователями (например наших Условий, наших Правил поведения). Мы можем сканировать и анализировать сообщения, отправляемые через наш сайт, чтобы проверить, не содержатся ли в них какие-либо контактные данные или ссылки на другие веб-сайты.
            </p>
            <p>
                5.2 мы никогда не сканируем и не анализируем сообщения, которые Вы, как пользователи нашего сайта, отправляете друг другу, в коммерческих и рекламных целях. Мы можем выполнять модерацию таких сообщений автоматическими способами.
            </p>
            <p>
                5.3 настоящим Вы подтверждаете свое полное согласие на доступ к, мониторинг и иное использование Ваших сообщений на условиях, описанных выше.
            </p>
            <h5>
                6. Целевая реклама в социальных сетях и наши сообщения, направляемые по электронной почте и/или SMS
            </h5>
            <p>
                В соответствии с применимым законодательством мы можем использовать информацию, которую Вы нам предоставляете на нашем Веб-сайте/в Приложении, в целях прямого электронного маркетинга (например, для нашей информационной рассылки, отправления приглашений на наши мероприятия или иных сообщений, которые, по нашему мнению, могут быть Вам интересны, или размещения специально для Вас целевой рекламы в социальных сетях).
            </p>
            <p>
                Пожалуйста, обратите внимание, что мы никогда не используем Ваши персональные данные для отправки Вам рекламных сообщений от третьих лиц. Кроме того, мы не продаем никакую информацию о Вас третьим лицам или деловым партнерам.
            </p>
            <h5>
                7. Передаются ли данные о Вас, как и куда?
            </h5>
            <p>
                После сохранения Ваших персональных данных с использованием баз данных, расположенных на территории Российской Федерации, мы можем передавать их в страны Европейского союза («ЕС»), в частности, во Францию и Польшу, принимая во внимание тот факт, что мы являемся международной группой компаний.
            </p>
            <p>
                При этом могут имеет место случаи, когда некоторые из наших обработчиков данных находятся в странах за пределами ЕС (“третьи страны”), например, в странах, которые являются государствами – участниками Конвенции Совета Европы о защите физических лиц при автоматизированной обработке персональных данных № 108.
            </p>
            <p>
                В случае такой передачи мы гарантируем соблюдение действующего законодательства о персональных данных и настоящего Положения о конфиденциальности и обеспечиваем наличие необходимых защитных мер для защиты прав субъектов персональных данных.
            </p>
            <p>
                По вашему запросу на адрес электронной почты, указанный в разделе 13 далее, мы можем предоставить Вам дополнительную информацию о трансграничной передаче данных.
            </p>
            <h5>
                8. Какими правами Вы обладаете в отношении своих персональных данных?
            </h5>
            <p>
                8.1 В тех случаях, когда это разрешено законом, Вы имеете право на получение копии своих персональных данных, имеющихся у нас. Перед тем как ответить на Ваш запрос, мы имеем право потребовать, чтобы Вы удостоверили свою личность и предоставили дополнительную информацию, чтобы мы могли более эффективно ответить на Ваш запрос. Мы будем предпринимать все усилия, чтобы ответить на запрос в соответствующий срок и в любом случае в срок, установленный законодательством. Чтобы воспользоваться данным правом, пожалуйста, свяжитесь с нами, направив письмо на адрес электронной почты, указанный в разделе 13 далее.
            </p>
            <p>
                8.2 Как пользователь нашего Веб-сайта/Приложения вы имеете доступ к своим персональным данным, хранящимся у нас, через свою учетную запись для исправления, дополнения или удаления неточной информации. Вы обязаны указывать в своем профиле достоверную, точную и полную информацию и следить за ее актуальностью. Кроме того, Вы можете в любое время закрыть свой профиль в режиме онлайн. Вы также можете обновить или удалить свои персональные данные, направив нам письмо на адрес электронной почты, указанный в разделе 13 далее.
            </p>
            <p>
                В случае, если Вы, как пользователь, хотите отозвать согласие на обработку ваших персональных данных согласно настоящему Положению о конфиденциальности, пожалуйста, свяжитесь с нами, направив письмо на адрес электронной почты, указанный в разделе 13 далее. Однако следует учесть, что в некоторых случаях мы можем сохранить определенную информацию о вас в соответствии с требованиями законодательства или в законных целях. Например, если мы считаем, что вы совершили мошенничество или нарушили наши Условия, мы можем сохранить определенную информацию о Вас для предотвращения нарушения Вами правил, действующих на нашем сервисе.
            </p>
            <h5>
                9. Файлы “cookie” и аналогичные технологии
            </h5>
            <p>
                Более подробную информацию см. в нашем <a style="color:#54a15d;    text-decoration: underline;" href="/Information/CookieInfo" target="_blank">Положение об использовании cookie-файлов</a>.
            </p>
            <h5>
                10. Конфиденциальность пароля пользователя
            </h5>
            <p>
                Выбирая пароль, предоставляющий доступ к определенным разделам нашего Веб-сайта/Приложения, Вы отвечаете за сохранение конфиденциальности данного пароля. Мы просим Вас никому не сообщать свой пароль.
            </p>
            <h5>
                11. Ссылки и переадресация на другие веб-сайты и социальные сети
            </h5>
            <p>
                На нашем Веб-сайте/в Приложении могут периодически содержаться ссылки на веб-сайты, являющиеся нашими партнерскими сетями, рекламодателями, поставщиками платежных услуг и аффилированными лицами. При переходе по ссылке на какой-либо из веб-сайтов, в том числе на Сайт третьего лица, следует учитывать, что у данных веб-сайтов имеется собственная политика конфиденциальности, за которую мы не несем никакой ответственности. Перед тем как предоставить на этих веб-сайтах и Сайте третьего лица какие-либо персональные данные, пожалуйста, изучите размещенные на таких сайтах условия использования и политику конфиденциальности.
            </p>
            <h5>
                12. Изменения положения о конфиденциальности
            </h5>
            <p>
                Любые изменения, которые в будущем мы можем внести в настоящее Положение о конфиденциальности, будут приведены на данной странице. В случаях, где это необходимо, мы уведомим Вас, как пользователя, или обратимся к Вам для получения вашего согласия. Пожалуйста, регулярно проверяйте, не было ли настоящее Положение о конфиденциальности уточнено или изменено.
            </p>
            <h5>
                13. Обратная связь
            </h5>
            <p>
                Если Вы хотите связаться с нами для того, чтобы сообщить свое мнение о наших принципах соблюдения конфиденциальности, или чтобы направить запрос в отношении своих персональных данных, Вы  можете это сделать, направив письмо на адрес электронной почты <a style="color:#54a15d;" href="mailto: street.travel@yandex.ru">street.travel@yandex.ru</a>
            </p>
            <p>
                Настоящим я подтверждаю, что понимаю и полностью согласен с вышеуказанными условиями обработки моих персональных данных.
            </p>
        </div>
    </div>
</section>