﻿
@{
    ViewBag.Title = "Условия Пользования";
}

<style>
    p {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
</style>
<section class="section-content">
    <div class="container container-content">
        <div class="row" style="padding-top: 40px!important">
            <h4>Условия пользования</h4>
            <hr style="border: none; color:#54a15d; background-color: #54a15d; height: 2px;" />
            <h5>
                1. Предмет
            </h5>
            <p>
                Индивидуальным предпринимателем Насретдиновым Егором Ураловичем
                (далее — «Street Travel» или «компания Street Travel») разработана платформа
                для поиска мест или маршрутов проведения экскурсий, туров или активного отдыха,
                доступная на вебсайте по адресу <a style="color:#54a15d; text-decoration: underline;" href="http://streettravel.net">streettravel.net</a> или в форме мобильного приложения
                (далее – «Платформа»). Целью данной Платформы является (i)
                предоставление компаниям занимающимися различного рода экскурсионными и туристическими услугами
                возможности поиска и установления связи с клиентами.
            </p>
            <p>
                Целью настоящего документа является регламентирование доступа к Платформе
                и условий ее использования. Пожалуйста, внимательно ознакомьтесь
                с его положениями.
            </p>
            <p style="color:#54a15d;font-weight: 600;">
                Вы понимаете и признаете, что компания Street Travel не является стороной каких-либо соглашений, договоренностей и договорных отношений, которые могут возникать между Пользователями Платформы либо с Компаниями-партнерами.
            </p>
            <p>
                Нажимая «Войти через Facebook», «Войти через VK» или «Войти через электронную почту», вы соглашаетесь с тем, что ознакомились с текстом настоящих Условий и принимаете его положения.
            </p>
            <p>
                Настоящие Условия применяются в совокупности с нашим Положением о конфиденциальности данных и Положением об использовании cookie-файлов.
            </p>
            <h5>
                2. Определения
            </h5>
            <p>
                В контексте настоящего документа нижеследующие термины имеют такие значения:
            </p>
            <p>
                «Профессиональные услуги» — услуги, предоставляемые Компанией-партнером связанные с туризмом, активным отдыхом и отдыхом за городом;
            </p>
            <p>
                «Компания-партнер» — Юридическое лицо, зарегистрированное на Платформе, предоставляющее какого-либо рода Профессиональные услуги.
            </p>
            <p>
                «Номер телефона Компании-партнера» — номер телефона, указанный Компанией-партнером, по которому можно связаться и договориться об оказании Профессиональных услуг конкретно этой Компанией-партнером.
            </p>
            <p>
                «Объявление» — объявление о предоставлении как индивидуальных, так и групповых Профессиональных услуг.
            </p>
            <p>
                «Street Travel» — значение данного термина определено выше в статье 1;
            </p>
            <p>
                «Условия» — настоящие условия;
            </p>
            <p>
                «Аккаунт» — учетная запись, создание которой является обязательным условием регистрации на Платформе и получения доступа к определенным Сервисам, предлагаемым посредством Платформы;
            </p>
            <p>
                «Аккаунт в социальной сети» — значение данного термина определено в статье 3.2 ниже;
            </p>
            <p>
                «Контент Пользователя» — значение данного термина определено в статье 8.2 ниже;
            </p>
            <p>
                «Пользователь» — любое физическое лицо, зарегистрировавшее Аккаунт на Платформе;
            </p>
            <p>
                «Клиент» — Пользователь, принявший предложение от Компании-партнера об оказании Профессиональных услуг;
            </p>
            <p>
                «Место» — место, указанное Компанией-партнером, где оказываются непосредственно этой Компанией-партнером Профессиональные услуги;
            </p>
            <p>
                «Платформа» — значение данного термина определено в статье 1 выше;
            </p>
            <p>
                «Сервисы» («Услуги») — все услуги (сервисы), предоставляемые компанией Street Travel посредством Платформы;
            </p>
            <p>
                «Вебсайт» — вебсайт, расположенный по адресу <a style="color:#54a15d;    text-decoration: underline;" href="http://streettravel.net">streettravel.net</a>;
            </p>
            <p>
                «Маршрут» — место встречи и конечный пункт назначения;
            </p>
            <h5>
                3. Регистрация на платформе и создание аккаунта
            </h5>
            <p>
                3.1 Условия регистрации на Платформе
            </p>
            <p>
                Использовать Платформу могут физические лица, достигшие 18-летнего возраста. Регистрация на Платформе несовершеннолетним лицом строго запрещена. Осуществляя доступ к Платформе, используя ее Сервисы и регистрируя Аккаунт, вы тем самым подтверждаете и гарантируете, что вам 18 и более лет, вы обладаете всеми правами и полномочиями, необходимыми для заключения сделок и исполнения настоящих Условий, в том числе являетесь совершеннолетним и полностью дееспособным лицом. Компания Street Travel вправе в любое время потребовать от вас предоставления информации и документов, подтверждающих права и полномочия, как указано выше.
            </p>
            <p>
                3.2 Создание Аккаунта
            </p>
            <p>
                Платформа позволяет Компаниям-партнерам публиковать Объявления. Просмотр Объявлений на Платформе доступен без регистрации на ней, однако для публикации Объявления или просмотра Номера телефона Компании-Партнера необходимо создать Аккаунт и стать Пользователем.
            </p>
            <p>
                Для создания Аккаунта необходимо (i) заполнить все обязательные поля регистрационной формы;
            </p>
            <p>
                При регистрации на Платформе нажимая на кнопку «Зарегистрироваться» Вы принимаете настоящие Условия и Положения о конфиденциальности.
            </p>
            <p>
                Создавая Аккаунт, вне зависимости от выбранного метода регистрации, вы соглашаетесь предоставлять точную и достоверную информацию и своевременно обновлять ее в вашем профиле или путем уведомления компании Street Travel в целях обеспечения ее актуальности и достоверности на протяжении всего срока договорных отношений с компанией Street Travel.
            </p>
            <p>
                В случае регистрации с помощью электронной почты вы обязуетесь обеспечивать секретность пароля, выбранного вами при создании Аккаунта, и не передавать его другим лицам. В случае утери пароля или если он стал известен другим лицам, вы обязуетесь незамедлительно уведомить об этом компанию Street Travel. Вы несете единоличную ответственность за использование вашего Аккаунта третьими лицами, за исключением случаев, когда компания Street Travel была уведомлена об утере пароля, несанкционированных действиях со стороны третьих лиц или раскрытии пароля третьему лицу.
            </p>
            <p>
                Вы соглашаетесь не создавать и не использовать дополнительные Аккаунты с использованием своих личных данных или личных данных третьего лица.
            </p>
            <p>
                3.3 Верификация
            </p>
            <p>
                Компания Street Travel в целях обеспечения прозрачности, повышения уровня доверия либо предотвращения или выявления случаев мошенничества, может (но не обязана) прибегать к верификации некоторых данных, указанных вами в профиле. В частности, это касается указанного вами номера телефона. Вы также можете пройти добровольную верификацию паспортных данных.
            </p>
            <p>
                Street Travel сохраняет за собой право запросить у вас прохождение верификации паспортных данных в случае, если у компании Street Travel есть основания полагать, что вы нарушаете или можете нарушать настоящие Условия или у Street Travel есть необходимость обеспечения собственной безопасности, защиты морально-этических принципов компании Street Travel, Пользователей и третьих лиц, а также необходимость предотвращения мошеннических действий или проведение расследования. В случае непрохождения или отказа в прохождении вами верификации паспортных данных Street Travel оставляет за собой право по своему усмотрению предпринять в отношении вас меры, предусмотренные статьей 6 Условий.
            </p>
            <p>
                Тот факт, что компания Street Travel не препятствует вам публиковать Объявления, не может толковаться как подтверждение достоверности, представленной вами информации по умолчанию.
            </p>
            <p>
                Компания Street Travel не может гарантировать достоверность, надежность и точность любой информации, прошедшей процедуру верификации.
            </p>
            <h5>
                4. Финансовые условия.
            </h5>
            <p>
                Осуществление доступа к Платформе, регистрация Аккаунта, поиск и просмотр Объявлений являются бесплатными. Доступ к публикации объявлений Компаниям-партнерам, осуществляется в индивидуальной форме по индивидуальным договоренностям.
            </p>
            <h5>
                5. Поведение Пользователей Платформы и зарегистрированных Пользователей
            </h5>
            <p>
                5.1 Обязательства всех Пользователей Платформы
            </p>
            <p>
                Вы соглашаетесь с тем, что несете единоличную ответственность за соблюдение всех законов, нормативно-правовых актов и обязательств, регламентирующих использование вами Платформы.
            </p>
            <p>
                Более того, во время использования Платформы и во время получения Профессиональных услуг от Компаний-партнеров:
            </p>
            <p>
                - не отправлять компании Street Travel (т. е. в процессе создания и обновления Аккаунта) и другим Пользователям заведомо ложную и вводящую в заблуждение информацию, а также информацию вредоносного или мошеннического характера;
            </p>
            <p>
                - с тем, что ваши высказывания, поведение и публикации на Платформе не должны носить оскорбительный, вредительский, непристойный, порнографический, вульгарный, наступательный, агрессивный, неуместный, насильственный, угрожающий или преследовательный характер, иметь сексуальный подтекст, пропагандировать расизм, ксенофобию, насилие, дискриминацию и ненависть, поощрять использование запрещенных веществ или в целом противоречить целям Платформы, что может нарушать права компании Street Travel или третьей стороны, либо противоречить нормам морали;
            </p>
            <p>
                - не нарушать права и не оказывать негативного влияния на имидж компании Street Travel, в частности это касается ее прав на объекты интеллектуальной собственности;
            </p>
            <p>
                - не открывать более одного Аккаунта на Платформе и не открывать Аккаунт от имени третьей стороны;
            </p>
            <p>
                - не обсуждать с другими Пользователями, в частности, посредством Платформы, темы, не касающиеся согласования условий оказания Профессиональных услуг;
            </p>
            <p>
                - выполнять положения настоящих Условий и Положения о конфиденциальности.
            </p>
            <p>
                5.2 Обязательства Компаний-партнеров
            </p>
            <p>
                Более того, используя Платформу в качестве Компании-партнера, вы обязуетесь:
            </p>
            <p>
                - осуществлять деятельность оказания услуг согласно нормативам сферы и действующему законодательству;
            </p>
            <p>
                - публиковать Объявления об оказании Профессиональных услуг исключительно в отношении услуг, связанных с туризмом, активным отдыхом и отдыхом за городом;
            </p>
            <p>
                - оказывать Профессиональные услуги в соответствии с описанием, приведенным в Объявлении, и с учетом маршрута, времени и мест, согласованных с другими Пользователями (в частности, касательно места встречи), в исключении случаев, когда оговорены иные условия;
            </p>
            <p>
                - использовать технику, оборудование и снаряжение в надлежащем техническом состоянии и полном соответствии с применимыми юридическими правилами и процедурами;
            </p>
            <p>
                - сотрудничать с компанией Street Travel и Пользователем в случае поступления запроса на предоставление регистрационных документов организации или любого другого документа, подтверждающего Ваши права на оказание объявленных Профессиональных услуг;
            </p>
            <p>
                - в случае задержки или изменения условий и времени проведения Профессиональных услуг незамедлительно информировать об этом своих Клиентов;
            </p>
            <p>
                - подождать Клиентов в назначенном месте встречи в течение как минимум 2 (двух) часов с момента наступления согласованного времени;
            </p>
            <p>
                - не публиковать Объявления об оказании Профессиональных услуг, для организаций, владельцем которых Вы не являетесь или в отношении которого у вас отсутствуют полномочия для выполнения Совместных Профессиональных услуг;
            </p>
            <p>
                - обеспечивать возможность связи с Пользователем посредством телефона по номеру, указанному в вашем Объявлении;
            </p>
            <p>
                - придерживаться приемлемых норм поведения и демонстрировать ответственность в течение всего времени оказания Профессиональных услуг, учитывая специфику.
            </p>
            <p>
                5.3 Обязательства Клиентов
            </p>
            <p>
                Используя Платформу в качестве Клиента, вы обязуетесь:
            </p>
            <p>
                - (i) придерживаться приемлемых норм поведения;
            </p>
            <p>
                - в случае задержек незамедлительно уведомить об этом Компанию-партнера;
            </p>
            <p>
                - уплатить Компании-партнеру согласованную сумму по оказанию Профессиональных услуг;
            </p>
            <p>
                - подождать Компанию-партнера в назначенном месте встречи в течение как минимум 2 (двух) часов с момента наступления согласованного времени;
            </p>
            <p>
                - по требованию Street Travel или Компании-партнера предоставить паспорт или любой другой документ, удостоверяющий вашу личность;
            </p>
            <p>
                -  не брать с собой предметы, товары или вещества характер, перевозка или владение которыми является незаконным.
            </p>
            <p>
                В случае Бронирования одного или нескольких Мест или Маршрутов в интересах третьих лиц Вы гарантируете, что такое третье лицо будет выполнять обязательства и в целом придерживаться положений настоящих Условий. Компания Street Travel оставляет за собой право заблокировать ваш Аккаунт, ограничить доступ к Сервисам или разорвать договорные отношения в случае выявления каких-либо нарушений со стороны третьих лиц, в интересах которых вы бронировали Место согласно настоящим Условиям.
            </p>
            <h5>
                6. Блокировка Аккаунта, ограничение доступа и прекращение договорных отношений
            </h5>
            <p>
                Вы вправе прекратить договорные отношения с компанией Street Travel в любое время, по любой причине и без каких-либо финансовых последствий. Для этого вам необходимо открыть вкладку «Закрыть аккаунт» на странице профиля.
            </p>
            <p>
                В случае нарушения вами настоящих Условий, включая, помимо прочего если у компании Street Travel есть основания полагать, что у нее есть необходимость обеспечения собственной безопасности, защиты морально-этических принципов компании Street Travel, Пользователей и третьих лиц, а также необходимость предотвращения мошеннических действий или расследования, компания Street Travel оставляет за собой право:
            </p>
            <p>
                - (i) незамедлительно прекратить с вами договорные отношения без предварительного уведомления; и (или)
            </p>
            <p>
                - отказать в публикации или удалении отзыва, Объявления, сообщения, контента, или любого другого контента, публикуемого вами посредством Платформы; и (или)
            </p>
            <p>
                - ограничить ваш доступ к Платформе и возможности ее использования; и (или)
            </p>
            <p>
                - постоянно или временно заблокировать ваш Аккаунт.
            </p>
            <p>
                В случае необходимости вы будете уведомлены о предпринимаемых мерах с целью обеспечения вас возможностью предоставить необходимые пояснения компании Street Travel. Окончательное решение о принятии или непринятии мер осуществляется компанией Street Travel по ее собственному усмотрению.
            </p>
            <h5>
                7. Персональные данные
            </h5>
            <p>
                Применительно к использованию вами Платформы, компания Street Travel осуществляет сбор и обработку некоторых ваших персональных данных.
                Используя Платформу и создавая Аккаунт, вы признаете и соглашаетесь с тем, что Street Travel осуществляет обработку ваших персональных
                данных в соответствии с применимым законодательством и <a style="color:#54a15d; text-decoration: underline;" href="/Information/PrivacyPolicy" target="_blank">положение о конфиденциальности</a>.
            </p>
            <h5>
                8. Интеллектуальная собственность
            </h5>
            <p>
                8.1 Контент, публикуемый компанией Street Travel
            </p>
            <p>
                Применительно к контенту, публикуемому Пользователями, компания Street Travel является единоличным владельцем всех прав на объекты интеллектуальной собственности, имеющие отношение к Сервису, Платформе, ее контенту (в частности, текстов, изображений, дизайна, логотипов, видео- и аудиофайлов, данных, графики), а также программному обеспечению и базам данных, обеспечивающим работу Платформы.
            </p>
            <p>
                Компания Street Travel предоставляет вам неисключительное, личное, непередаваемое право использовать Платформу и Сервисы в личных целях в полном соответствии с целями Платформы и Сервисов.
            </p>
            <p>
                Запрещается использование и эксплуатация Платформы и Сервисов, а также их контента без предварительного получения письменного разрешения компании Street Travel. В частности, запрещается:
            </p>
            <p>
                - (i) воспроизведение, изменение, адаптация, распространение, публичная презентация и копирование Платформы, Сервисов и контента без получения явного разрешения Street Travel;
            </p>
            <p>
                - декомпиляция и реверсивный инжиниринг Платформы или Сервисов, с учетом исключений, предусмотренных действующими юридическими документами;
            </p>
            <p>
                - извлечение (в частности, с использованием роботов для сбора данных и прочих аналогичных инструментов для сбора данных) значительной части данных Платформы, или попытки извлечь такие данные.
            </p>
            <p>
                8.2 Контент, публикуемый вами на Платформе
            </p>
            <p>
                В целях обеспечения возможности предоставления Сервисов и обеспечения соответствия целевому назначению Платформы вы предоставляете компании Street Travel неисключительную лицензию на использование контента и данных, отправляемых в рамках использования Сервисов (далее — «Пользовательский контент»). В целях обеспечения компании Street Travel возможностью осуществления распространения с помощью цифровых каналов и протокола передачи данных (в частности, интернета и мобильной сети), а также предоставления контента Платформы для всеобщего доступа, вы наделяете компанию Street Travel (во всех странах мира и в течение всего срока ваших договорных отношений с Street Travel) правом на воспроизведение, презентацию, адаптацию и перевод вашего пользовательского контента на следующих условиях:
            </p>
            <p>
                - (i) вы предоставляете компании Street Travel право на полное или частичное воспроизведение вашего пользовательского контента на всех цифровых носителях, которые известны в настоящее время или будут изобретены впоследствии (в частности, на сервере, жестком диске, карте памяти и любых других аналогичных носителях), в любом формате и с помощью любых процессов, которые известны в настоящее время или будут изобретены впоследствии, в объеме, необходимом для выполнения хранения, резервного копирования, передачи и загрузки, необходимых для обеспечения работы Платформы или предоставления Сервисов;
            </p>
            <p>
                - вы предоставляете компании Street Travel полномочия адаптировать и переводить ваш пользовательский контент, а также воспроизводить адаптированный контент на цифровых носителях, которые известны в настоящее время или будут изобретены впоследствии и которые оговорены в пункте (i) выше, в целях предоставления Сервисов, в частности, на разных языках. Данное право, в частности, включает возможность внесения изменений в пользовательский контент с учетом ваших личных неимущественных прав, в целях обеспечения соответствия графической схеме Платформы и (или) обеспечения технической совместимости в части публикации контента посредством Платформы.
            </p>
            <h5>
                9. Роль Street Travel
            </h5>
            <p>
                Платформа представляет собой сетевую онлайн-платформу, на которой Пользователи могут искать Объявления в целях ознакомления с деталями оказания Профессиональных услуг и, в случае необходимости, забронировать Место и (или) Маршрут в предложенном Месте, позвонив Компании-партнеру, опубликовавшему Объявление на Платформе, или перейти на Сайт третьего лица для осуществления бронирования.
            </p>
            <p>
                Используя Платформу и принимая настоящие Условия, вы тем самым признаете, что компания Street Travel не является участником соглашения между вами и другими Пользователями применительно к расходам на оказание Профессиональных услуг или какого-либо соглашения между вами и Компанией-партнером по поводу оказания услуг. Компания Street Travel не является организатором сделки, посредником, агентом или представителем какого-либо Пользователя или Компании-партнера в отношении предлагаемой/заключаемой сделки на Платформе. Все совершаемые благодаря размещению Объявления на Платформе сделки заключаются и исполняются без прямого или косвенного участия компании Street Travel.
            </p>
            <p>
                Компания Street Travel не контролирует поведение Пользователей и посетителей Платформы, не владеет, не поставляет и не оказывает Профессиональные услуги, упоминаемые в Объявлениях, а также не предлагает Профессиональных услуг посредством Платформы. Компания Street Travel не является Компанией-партнером.Компания Street Travel не контролирует поведение Пользователей и посетителей Платформы, не владеет, не поставляет и не оказывает Профессиональные услуги, упоминаемые в Объявлениях, а также не предлагает Профессиональных услуг посредством Платформы. Компания Street Travel не является Компанией-партнером.
            </p>
            <p>
                Вы признаете и соглашаетесь с тем, что компания Street Travel не осуществляет проверку правильности, достоверности и законности Объявлений, Мест, Маршрутов и предлагаемых Профессиональных услуг. Компания Street Travel выступает в роли  онлайн-площадки, на которой Компании-партнеры имеют возможность на свой страх и риск и под свою ответственность размещать предложения неограниченному кругу лиц в отношении оказании Профессиональных услуг, а Пассажиры могут принимать на свой страх и риск и под свою ответственность такие предложения, заключая тем самым договор об оказании Профессиональных услуг. Функции Street Travel сводятся к обеспечению доступа к Платформе.
            </p>
            <p>
                Пользователи и Компании-партнеры самостоятельно несут всю ответственность за совершаемые действия.
            </p>
            <p>
                Компания Street Travel, выступающая в роли онлайн-площадки, не несет ответственность за эффективность оказания Профессиональных услуг, в частности, за:
            </p>
            <p>
                - (i) предоставление Компанией-партнером неверной информации в Объявлении или иным способом касательно услуги ее условий;
            </p>
            <p>
                - отмену или изменение Пользователем, либо Компанией-партнером условий;
            </p>
            <p>
                - неуплату Клиентом установленной суммы;
            </p>
            <p>
                - поведение Клиентов и Компаний-партнеров во время оказания Профессиональных услуг, а также до и после нее.
            </p>
            <h5>
                10. Работа, доступность и функциональные возможности Платформы
            </h5>
            <p>
                Компания Street Travel прикладывает все возможные усилия для обеспечения круглосуточной доступности Платформы. Невзирая на это, доступ к Платформе может быть временно ограничен без предварительного предупреждения ввиду технического обслуживания, переноса баз данных или обновления, либо в связи с перебоями или ограничениями в работе сети.
            </p>
            <p>
                Кроме этого, компания Street Travel оставляет за собой право изменить либо полностью или частично приостановить работу Платформы или ее функций по своему собственному решению, на временной или постоянной основе.
            </p>
            <h5>
                11. Внесение изменений в Условия
            </h5>
            <p>
                Настоящие Условия и документы, включенные в них в виде ссылок, представляют собой полноту договоренностей между вами и компанией Street Travel касательно использования вами Сервисов. Все остальные документы, в частности те, в которых содержится упоминание Платформы (Вопросы и ответы и т. д.), предназначены исключительно для справочных целей.
            </p>
            <p>
                Компания Street Travel вправе в любое время вносить изменения в настоящие Условия в целях отражения изменений в технологической и коммерческой среде, а также в целях обеспечения соответствия действующему законодательству, и по иным причинам. Все изменения, вносимые в настоящие Условия, публикуются на Платформе с указанием даты вступления в силу без предварительно уведомления, в связи с чем использование Платформы и Сервисов предлагается в режиме «как есть», т.е. в том виде и объеме, в каком они предоставляются компанией Street Travel на дату обращениями вами к предлагаемым Сервисам.
            </p>
            <h5>
                12. Применимое право. Решение споров
            </h5>
            <p>
                Настоящие Условия составлены на русском языке и регулируются законодательством Российской Федерации.
            </p>
            <h5>
                13.	Юридические оговорки
            </h5>
            <p>
                Платформа управляется Индивидуальным предпринимателем Насретдиновым Егором Ураловичем, ОГРНИП 321745600118086, ИНН 745700374527; юридический адрес: 456918, Россия, обл. Челябинская, г. Сатка, ул. Парковая., д. 24, кв. 10. Почтовый адрес: 456918, Россия, обл. Челябинская, г. Сатка, ул. Парковая., д. 24, кв. 10
            </p>
            <p>
                В случае возникновения вопросов вы можете это сделать, направив письмо на адрес электронной почты <a style="color:#54a15d; text-decoration: underline;" href="mailto:street.travel@yandex.ru">street.travel@yandex.ru</a>.
            </p>
        </div>
    </div>
</section>