@model WebStoreMap.Models.ViewModels.Favorites.FavoritesViewModel



<span class="navbar-brand" style=" bottom: 30px; position: fixed; z-index: 40; right: 40px; ">
    <a class="ajaxfavorites add-to-favorites-block" href="/Favorites/Index">
        @if (@Model.Quantity != 0m)
        {
            <span class="quantity">@Model.Quantity</span>
        }
        <i class="fa-solid fa-heart"></i>
        @* <i class="fa-regular fa-heart" style="font-size: 35px; padding-top: 12px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; font-weight: 100; color:white"></i>*@
    </a>
</span>