<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h1>404</h1>
        <h2>Упс! Страница не найдена</h2>
        <p>Извините, но страница, которую вы ищете, не недоступна или удалена </p>
        <a href="/">Вернуться назад</a>
    </div>
</div>